*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(24, 22, 22);
  overflow-x: hidden;
}

p,
li {
  color: "white";
}

button {
  background-color: #2783ba;
  font-size: 16px;
  color: rgb(226, 226, 226);
}
