*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
}

body,
html {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(24, 22, 22);
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

p {
  color: #dee0df;
  font-size: 16px;
}

h1 {
  color: #dee0df;
}

button {
  background-color: #2783ba;
  font-size: 16px;
  color: rgb(226, 226, 226);
  border: none;
}

button:focus {
  background-color: #58b85b;
}
